{% set etcd_nodes = salt["pillar.get"]("k8s:etcd_nodes", []) -%}
{% set leader = etcd_nodes|first -%}
{
  "cluster": {
      "leader": "http://{{leader.address}}:{{leader.client_port}}",
        "machines": [
{%- for etcd in etcd_nodes %}
            "http://{{etcd.address}}:{{etcd.client_port}}"{%if loop.index != etcd_nodes|length %},{%endif%}
{% endfor -%}
          ]
    }
}

