# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml "sample1/defaults.yaml" as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['git']
    },
    'RedHat': {
        'pkgs': ['git']
    },
}, grain="os_family", merge=salt['pillar.get']('sample1:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.sample1.update(os_family_map) %}

{## Return 'map' for use in formula ##}
{% set map = default_settings.sample1 %}
